* {
    margin: 0;
    padding: 0;
}

body {
    
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);

    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

main {
    text-align: center;
    margin: auto 15%;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-top: 36px;
}

.supervisor {
    background-color: hsl(180, 62%, 55%);
    position: relative;
    border-radius: 8px;
    min-width: 30%;
    box-shadow: 0 8px 16px hsla(229, 6%, 66%, 0.2);
}

.features-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    min-width: 30%;
}

.team-builder {
    background-color: hsl(0, 78%, 62%);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 8px 16px hsla(229, 6%, 66%, 0.2);
}

.karma {
    background-color: hsl(34, 97%, 64%);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 8px 16px hsla(229, 6%, 66%, 0.2);
}

.calculator {
    position: relative;
    border-radius: 8px;
    background-color: hsl(212, 86%, 64%);
    min-width: 30%;
    box-shadow: 0 8px 16px hsla(229, 6%, 66%, 0.2);

}

.content {
    margin-top: 5px;
    position: relative; 
    width: auto;
    background-color: white;
    padding: 36px; 
    text-align: left;
    border-radius: 0 0 8px 8px;
}

.icon {
    text-align: right;
    margin-top: 24px ;
}

h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
}

h2 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
}

.bold {
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
}

@media only screen and (max-width: 700px) {

    main{
        margin: 10% 10%;
    }

    .features {
        flex-direction: column;
    }
}  